div#Lawchat_container {
  margin: auto 150px auto 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div#Lawchat_lawcat {
  margin: 8px 0px;
  padding: 0px;
}

div#LawcatHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px 0px 40px 0px;
  height: 90px;
  box-sizing: border-box;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(196, 196, 196, 0.1254901961);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
}

ul.App_tabs {
  display: flex;
  align-items: center;
  list-style: none;
  right: 100px;
  float: right;
  position: absolute;
  font-weight: bold;
}

img#header_lawcat {
  margin: 30px 0px 30px 100px;
  width: 80px;
  height: 30px;
}

img#header_styledcat {
  margin: 30px 30px 30px 0px;
  width: 50px;
  height: 40px;
}

.App_MenuList_NavLink {
  text-decoration: none;
  margin: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.App_MenuList_img {
  width: 30px;
  height: 30px;
}

a.App_MenuList_NavLink:hover {
  cursor: pointer;
  text-decoration: underline 2px;
  text-underline-position: under;
}

a.active {
  text-decoration: underline 2px;
  text-underline-position: under;
}

a {
  color: #091d36;
  text-decoration: none;
}

div#App_header {
  display: inline-block;
  padding: auto 200px;
  display: flex;
  flex-direction: row;
}

div#App_container {
  display: flex;
  flex-direction: row;
  margin: 10px 150px 80px 250px;
  height: 800px;
  box-sizing: border-box;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(196, 196, 196, 0.1254901961);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
}

div#Home_container1 {
  display: flex;
  flex-direction: row;
  margin: auto 140px;
}

div#Home_container1_left {
  margin: 100px 0px auto auto;
}

div#Home_container1_right {
  margin: 100px 30px auto 0px;
}

div#Home_experienceBtn {
  margin: 20px 0px;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  width: 100px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  background-color: #ff8400;
}

div#Home_experienceBtn2 {
  color: white;
}

img#home_container_image1 {
  width: 803px;
  height: 511px;
}

img#home_container_image2 {
  width: 296px;
  height: 150px;
  margin-left: 55px;
}

div#Login_container {
  display: flex;
  flex-direction: column;
  margin: 10px 400px 80px 400px;
  padding: 100px 50px;
  height: 650px;
  box-sizing: border-box;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(196, 196, 196, 0.1254901961);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
}

header {
  display: flex;
  justify-content: center;
}

form {
  padding: 10px;
}

.Login_input-box {
  position: relative;
  margin: 10px 0;
}

.Login_input-box > input {
  background: transparent;
  border: none;
  border-bottom: solid 1px #ccc;
  padding: 20px 0px 5px 0px;
  font-size: 14pt;
  width: 100%;
}

input::placeholder {
  color: transparent;
}

input:placeholder-shown + label {
  color: #aaa;
  font-size: 14pt;
  top: 15px;
}

input:focus + label,
label {
  color: #8aa1a1;
  font-size: 10pt;
  pointer-events: none;
  position: absolute;
  left: 0px;
  top: 0px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

input:focus,
input:not(:placeholder-shown) {
  border-bottom: solid 1px #8aa1a1;
  outline: none;
}

#Login_btn {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 15px 150px;
}

div#Login_kakao {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5px 150px 15px 150px;
  background-color: #ffe500;
}

div#Login_kakao:hover {
  cursor: pointer;
}

p#login_kakao_p {
  width: 150px;
  margin: 10px 5px 10px 0px;
  font-size: 15px;
  font-weight: bold;
}

#kakao_temp {
  margin: 5px 5px;
  width: 30px;
  height: 30px;
}

div#temp_div {
  margin-top: 15px;
  margin-bottom: 5px;
}

p#temp_p {
  margin: 0px;
}

div#temp_div:hover {
  cursor: pointer;
}

img#kakao_img {
  margin: 5px 5px;
  width: 30px;
  height: 30px;
}

p#login_kakao_temp_pL:hover {
  cursor: pointer;
}

div#cs_container {
  display: flex;
  flex-direction: column;
  margin: 10px 400px 80px 400px;
  padding: 10px 50px;
  height: 650px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid rgba(196, 196, 196, 0.1254901961);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
}

header#cd_header {
  font-weight: bold;
  margin: 30px;
}

div.cs_th {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

div.cs_tag {
  font-weight: 500;
  padding: 5px 0px;
  padding-left: 60px;
  width: 20%;
}

.cs_input {
  border: 1px solid rgba(196, 196, 196, 0.5019607843);
  padding: 5px 0px;
  width: 400px;
}

.cs_tag2 {
  flex: 2;
  text-align: right;
}

textarea.cs_textarea {
  border: 1px solid rgba(196, 196, 196, 0.5019607843);
  padding: 5px 0px;
  width: 400px;
  height: 200px;
  resize: none;
}

hr.cs_hr {
  border-top: 1px solid rgba(196, 196, 196, 0.5019607843);
  width: 100%;
}

#cs_submit {
  text-align: right;
  right: 0px;
}

#cs_text {
  margin-top: 5px;
  font-weight: 600;
  margin-right: 5px;
  float: right;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
}

#cs_text:hover {
  cursor: pointer;
}

#q_inner {
  margin-bottom: 0px;
}

div#video_container {
  width: 100vw;
  display: flex;
  margin: 30px 10px;
  justify-content: space-evenly;
}

div#video_btn_container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.video_btn {
  color: #091d36;
  font-weight: bold;
  width: 100px;
  height: 8vh;
  background: antiquewhite;
  margin: 0px 20px;
  padding: auto;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid rgba(196, 196, 196, 0.1254901961);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=main.css.map */
