@charset "UTF-8";

@import './common/color.scss';
@import './common/Lawchat.scss';
@import './common/LawcatHeader.scss';
@import './common/App.scss';
@import './common/MenuBar.scss';
@import './common/Home.scss';
@import './common/Login.scss';
@import './common/CustomerService.scss';
@import './common/VideoMeeting.scss';

body {
  background-color: #fff;
  // background-color: #FAFAFA;
  margin: 0;
  padding: 0;
}
