@charset "UTF-8";

@import './common/color.scss';
@import './common/Lawchat.scss';
@import './common/LawcatHeader.scss';
@import './common/App.scss';



body {
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
}
