div#asd {
    margin: 200px;
    
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}

div#AIchat_container {
    margin: 50px;
    // border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}
