div#App_header {
  display: inline-block;
  padding: auto 200px;
  display: flex;
  flex-direction: row;
}

div#App_container {
  display: flex;
  flex-direction: row;
  margin: 10px 150px 80px 250px;
  height: 800px;
  box-sizing: border-box;
  // justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #c4c4c420;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
}
