div#Home_container1 {
  display: flex;
  flex-direction: row;
  margin: auto 140px;
}

div#Home_container1_left {
  margin: 100px 0px auto auto;
}
// #ff8400
div#Home_container1_right {
  margin: 100px 30px auto 0px;
}

div#Home_experienceBtn {
  margin: 10px 0px;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  width: 100px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  background-color: #ff8400;
}

div#Home_experienceBtn2 {
  color: white;
}

img#home_container_image1 {
  width: 803px;
  height: 511px;
}
img#home_container_image2 {
  width: 296px;
  height: 150px;
  margin-left: 55px;
}
